-- Check all coupons and their visibility
SELECT 
  bc.id,
  bc.title,
  b.business_name,
  bc.is_public,
  bc.status as coupon_status,
  b.status as business_status,
  bc.valid_from,
  bc.valid_until,
  b.user_id as business_owner_id
FROM business_coupons bc
JOIN businesses b ON bc.business_id = b.id
ORDER BY b.business_name, bc.title;
